.header{
    background-color: rgb(11, 11, 56);
    margin-top: 2%;
    text-align: left;
    padding: 2%;
    font-size: 2rem;
    color: aqua;
    
    
}
img.dtc{
   float: left;
   margin-right: 2%;
   
}

.header2{
    text-align: center;
    font-size: 2rem;
    background-color:whitesmoke;
    color: rgb(26, 175, 177);
    font-weight: 700;
    margin-bottom: 0%;
}

.body{
    text-align: center;
    padding-bottom:30% ;
    margin: 2% auto;
    background-image:url("dtc theme1.png") ;
    opacity: 0.9;
}

.line1{
    
    font-size: 2rem;
    color:rgb(26, 175, 177); 
    font-weight: 700;
    

}

.profile{
   
   
    opacity: 0.8;
    
}
.code{
    color: rgb(24, 85, 20);
    font-size: 1.5rem;
}
p{
    font-weight: 800;
    font-size: 1.5rem;
}
.date{
    color: rgb(197, 44, 44);
}
.sign{
align-items: left;

    
}
.qr{
    position: absolute;
    right: 10%;
    
}
.k1{ 
  text-align:start;
 
    
    font-size: 0.6rem;
}

.footer{
    background-color:rgb(26, 175, 177) ; text-align: center;
    padding: 10%;
   font-weight: lighter;
   font-size: x-small;
}