.header{
    background-color: rgb(11, 11, 56);
    margin-top: 2%;
    text-align: left;
    padding: 2%;
    font-size: 2rem;
    color: aqua;
    
    
}
img.dtc{
   float: left;
   margin-right: 2%;
   
}

.header2{
    text-align: center;
    font-size: 2rem;
    background-color:whitesmoke;
    color: rgb(26, 175, 177);
    font-weight: 700;
    margin-bottom: 0%;
}

.body{
    text-align: center;
    padding-top: 2%;
    margin: 2% auto;
    background-image:url("dtc theme1.png") ;
    opacity: 0.9;
}

.line1{
    
    font-size: 2rem;
    color:rgb(26, 175, 177); 
    font-weight: 700;
    

}

.profile{
   
   
    opacity: 0.8;
    
}
.code{
    color: rgb(24, 85, 20);
    font-size: 1.5rem;
}
p{
    font-weight: 800;
    font-size: 1.5rem;
}
.date{
    color: rgb(197, 44, 44);
}